.env

Acord 25/
batching_and_splitting/
Form 1040/
Form 1040 A/
Form 1040 B/
Form 1040 C/
Form 1040 D/
Form 1040 E/
Invoice/
W9/
tmp/*
test/
test_real/
misclassified/
realgemini20_batching_and_splitting/
realgemini25_batching_and_splitting/
realgpt41_batching_and_splitting/





